<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcom to the tet analyzer. Please enter your text here...</h1>
<form action="/analyze" method="get">
    <textarea name="text" style="margin: 0px; width: 721px; height: 93px;"></textarea><br>
    <input type="checkbox" name="removepunc">Remove Punctuations<br>
    <input type="checkbox" name="fullcaps">UPPERCASE<br>
    <input type="checkbox" name="newlineremover">New Line Remover<br>
    <input type="checkbox" name="extraspaceremover"> Extra Spaces Remover<br>
    <input type="checkbox" name="charcount"> Char Count<br>
    <button type="submit"> Analyze Text</button>

</form>
</body>
</html>